@charset 'UTF-8';

/*All*/

html {
      font-size: 62.5%; /* =10px =100% */
}
img {
  max-width:100%;
  box-sizing: border-box;
}

#body {
    background-color: #F9F8F6;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','ＭＳ ゴシック',sans-serif;
    font-size: 1.2rem;
    margin:0 auto;
}

* {
    color: #000000;
    text-decoration: none;
}

a {
    color: #000000;
}

a:hover {
  color: #887f69;
  text-decoration:underline;
}

ul, li {
  margin:0;
}

h1 {
  margin-bottom:0;
}
#contentAll {
      margin:30px 0 30px 0;
}



@media (min-width: 550px) {
/*.column, .columns {*/
/*    margin-left: 2%;*/
/*}*/
}

h2 {
  
}

h3 {
  font-size:1.3rem;
}
p {
    margin-bottom: 1.5rem;
}


#header {
  margin: 0 auto;
  line-height:0;
}

#headerLogo {
  float: left;
}


#headerLinks {
    height: 88px;
    position: relative;
    margin-bottom: 20px;
}

#headerLinks .headerNavi,
#headerLinks .headerSNS {
    position: absolute;
    bottom: 0;
}

#headerLinks .headerNavi {
    right: 65px;
}

#headerLinks .headerSNS {
    right: 0;
}

#headerLinks .headerSNS li + li{
	padding:0 0 0 1px;
}

#headerLinks li {
  padding: 0 8px;
  list-style: none;
  display: inline-block;
}

#headerLinks li img {
  width: 100%;
  cursor: pointer; }

#menu {
  cursor: pointer;
}
.sp_menu_toggle {
  display: none;
}

@media only screen and (min-width:768px) {
  .sp h2 img,
  #headerLinks .headerNavi_sp {
    display:none;
  }

  
  .sp h2 img {
    padding:3px 0;
  }
}

@media only screen and (max-width:769px) {
  
  body {
  width: 100%;  
  }
  
  ul {
  margin-bottom: 0;
  }
  
  #header {
    width: 100%;
    height: 100%;
  }
  
  #header img{
    margin: 0 auto;
    display:block;
    width:30%;
  }
  
  
  #headerLogo {
  float: none;
  }

  #headerLinks  {
      padding:20px 0 0 0;
      right: auto;
  }
  
  .container {
    padding:0;
    width: 100%;
  }
  
  .nine columns {
    float:none;
  }
    
  .three columns {
    float:none;
  }
  
  .pc h2 {
    display:none;
  }
  
  .sp h2 img  {
    color: #887f69;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
  }
  
  .sp h2 img {
    display:block;
    margin:0 auto;
  }

  
  #headerLinks {
      height:auto;
      text-align: center;
  }
      
  #headerLinks .headerNavi,
  #headerLinks .headerSNS{
    display:none;
  }
  
  #headerLinks .headerSNS {
    position: static;
  }
  }

@media (min-width: 550px) {
/*.three.columns {*/
/*    width: 24%;*/
/*}*/
}


/*acordlilon*/
#menu-acdn-01 li {
	list-style: none;
	padding: 1.2rem;
	margin:1px;
	background: url(../images/top/next_icon_gray.png);
	background-repeat: no-repeat;
  	background-position: 90%;
  	background-color: #FFFFFF;
}

#categories h3 {
  padding: 0;
  margin: 0;
}
  
#categories .menu-acdn {
  color:#fff;
  width:100%;
  height:50px;
  display:flex;
  padding: 1.2rem;
  box-sizing: border-box;
	align-items: center;
	background: url(../images/top/next_icon.png);
	background-repeat: no-repeat;
  background-position: 90%;
	background-color: #887f69;
}


#categories .menu-acdn:active {
	background: url(../images/top/down_icon.png);
	background-repeat: no-repeat;
  background-position: 190px;
	background-color: #887f69;
}




/*acordlilonおわり*/


/*clearfix*/
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.colWrap {
    max-width:960px;
		display: flex;
    display: -webkit-flex;
    margin: 0 auto 30px;
		flex-wrap: wrap;
		justify-content: space-between;
}

.col {
    box-sizing:border-box;
    padding:10px;
    background-color: #ffffff;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 33.3333%;
    border: solid 1px #F9F8F6;
  }
  
figure {
  margin:0;
}  
  
figure img {
  text-align:center;
}  
  
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
  
  
  
@media only screen and (max-width:769px) {
  .col {
		width: 50%;
  }
}

.colWrapTwo h3{
  color:#887f69;
  font-size: 1.2em;
  margin-bottom: 1.8rem;
  font-weight:bold;
  letter-spacing: 0;
}


.colWrapTwo ul {
  margin-bottom: 1.5rem;
}

.colWrapTwo p{
  color: #887f69;
  margin-bottom: 0.8rem;
}

.colWrapTwo img {
  padding-bottom: 5px;
}

.colWrapTwo li {
  list-style-type: none;
}

.subColor {
  background-color:#ffffff;
  width:49%;
  padding:10px;
  box-sizing: border-box;
  border:solid 1px #F9F8F6;
}


@media only screen and (max-width:769px) {
  .colWrapTwo, .subColor {
    background-color:#ffffff;
    width:100%;
    padding:15px;
    box-sizing: border-box;
    border: solid 2px #F9F8F6;
  }
}

#serch {
  background-color: #fff;
  padding: 20px;
}

#serch img {
	margin-bottom:5px;
}

Input.serchInput {
  background-image: url(../images/top/search_icon.png);
  background-repeat: no-repeat;
  background-position: 145px center;
  max-width: 100%;
  margin:0;
  height:100%;
  width: 100%;
  background-color: #eeeeee;
  color: #b5b5b5;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-style: italic;
  box-sizing: 0; 
}

input[type="text"] {
    border-radius:1px;
}

@media only screen and (max-width:769px) {
  #serch {
    margin-top: 10px;
    box-sizing: border-box;
    border:solid 2px #F9F8F6;
  } 
  #serch img {
    display:none;
  }
}


#pagelink, #categories, #about, #shopInfo {
	margin: 10px 0;
}

section h3{
  margin: 0;
  color:#fff;
  width:100%;
  height:50px;
  display:flex;
  padding: 1.5rem;
  box-sizing: border-box;
	align-items: center;
	background-color: #887f69;
}

#pagelink h3 {
	background: url(../images/top/next_icon.png);
	background-color: #887f69;
	background-repeat: no-repeat;
  background-position: 90%;
}

.aboutContents {
  background-color: #ffffff;
}

.aboutContents img {
    display: block;
    margin: 0 auto;
    padding: 10px;
}


#categories p, #about p, #shopInfo p{
  margin:0;
  background-color:#fff;
  padding:10px;
}






footer .right {
      width: 100%;
      border-bottom: 1px solid #887f69;
      text-align: right;
      padding : 15px 0;
}

footer {
    margin: 30px auto 0;
    width: 960px;
}

footer ul, footer p {
  text-align:center;
}

footer ul {
  margin: 3rem 0 1rem 0;
}


footer ul li {
    padding:0 5px;
  list-style: none;
  display: inline-block;
}

#copyright p {
  font-size: 1.0rem;
  color: #b8b4ac;
}


@media only screen and (max-width:769px) {
  footer{
  width:100%;
}

  footer .right {
    text-align:center;
    font-size:2rem;
    padding:0 0 30px 0;
  }
  
  footer ul {
    margin: 3rem 0.5rem 1rem 0.5rem;
  }
  
  #copyright p {
    font-size:1.3rem;
  }

}


/*--- product ---*/

.breadCrumb {
  padding:10px;
  margin-bottom:20px;
  background: #e8e4da;
  border-radius: 2px
}

.breadCrumb li{
  display:inline;/*横に並ぶように*/
  list-style: none;
}

.breadCrumb li a img {
  padding:0 4px;
}

.breadCrumb li:after{/* /を表示*/
  content: '/';
  padding: 0 3px;
  color: #887f69;
}

.breadCrumb li:last-child:after{
  content: '';
}

.breadCrumb li a {
    text-decoration: none;
}

.breadCrumb li a:hover {
    text-decoration: underline;
}

.breadCrumb li .breadTitle {
  color: #887f69;
}


.pagenation {
  position: relative;
  height:80px;
}
  .back, .next {
    position: absolute;
    top:15px;
  }
  .next { right: 0;
  }
  .back { left: 0; 
  }
  
  .pagenation a {
    color: #fff;
    width:aut;
    height: 50px;
    padding: 1.5rem 4rem;
    box-sizing: border-box;
    align-items: center;
    background-color: #887f69;
  }
  
  
  @media only screen and (min-width:768px) {
  #recently .sp img {
    display:none;
  }
}

  @media only screen and (max-width:769px) {
    
  #breadCrumb {
      margin: 0 10px 10px 10px;
  }
  
    #recently .sp h2 {
    padding:30px 0 0 0;
  }
  
  #mainVisual .sp{
    padding:20px 0 0;
  }
  
    .aboutContents {
  	width:100%;
  	background-color:#ffffff;
  }

  .aboutContents img{
  	max-width:100%;
  	float:left;
  	box-sizing:border-box;
  }

  .aboutContents p{
  	box-sizing:border-box;
  } 

.aboutContentsBox {
  	align-items:bottom;
  	width:100%;
  }

  }
  
  
  
/*products.html*/

#carousel {
  background-color: #ffffff;
  max-width:100%;
  padding:50px;
}

#carousel img {
  max-width:100%;
}

#carouselWrap {
  box-sizing: border-box;
  display:flex;
  padding:15px 0;
  border-top:solid 1px #e3e8cf;
  border-bottom:solid 1px #e3e8cf;
}


#display_img {
  width:70%;
}

ul#list_img {
  list-style: none;
  display:flex;
  width:30%;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding:0 10px;
}


ul#list_img li {
  list-style: none;
  width:50%;
}


@media only screen and (max-width:769px) {
#carouselWrap{
  display:block;
}

#display_img {
  width:100%;
}

ul#list_img{
 width:100%; 
 padding:0;
 justify-content: space-between;
}

ul#list_img li{
  width:19%;
}
}


#carousel .productsBox {
  padding:10px 0;
}

#carousel .productsBox h1{
  display:inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing:2px;
}

#carousel .productsBox p {
 color:#a6a6a6;
}

.right {
  float:right;
}

@media only screen and (max-width:769px) {
  
  #rightSidebar {
    padding:0 10px;
  }

.right{
  float:none;
}

#carousel {
  padding:10px;
}

}

#carousel table {
  width:100%;
}

/* checkbox01 */
.radio-input{
  display: none;
}
.radio-parts{
  padding-left: 20px;
  position:relative;
}
.radio-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #887f69;
  border-radius: 2px;
}

.radio-input:checked + .radio-parts{
  color: #aaaaaa;
}
.radio-input:checked + .radio-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #aaaaaa;
  border-right: 3px solid #aaaaaa;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

table {
  border-collapse: collapse;
  border: solid 1px #e8e4da;
  table-layout: fixed;
}

#color tr:first-child,
td:first-child {
  background-color: #f9f9f5;
}

table th,table td{
    text-align:center;
    color: #887f69;
}



#description th {
  width:30%;
  background-color: #f9f9f5;
  font-weight:normal;
}

#carousel table th:first-child {
  padding:0;
}


#price p,
#quantity form,
#price h2, 
#quantity h2 {
display:inline-block;
}


#quantity h2 {
  padding-right:40px;
}

#price h2 {
 padding-right:62px;
}

form {
  margin-bottom: 1rem;
}

#price p {
  font-style:oblique; 
}

#price .colorRed {
  color: #e80f66;
  font-size: 2.2rem;
}

#price p:first-letter {
  font-size: 1rem;
}

#description h2 {
  border-bottom: solid 1px #887f69
}

#price, .carouselBox {
 border-bottom: solid 1px #e8e4da;
}

.carouselLeft {
border-top: solid 1px #e8e4da;
}

#description {
  padding:20px 0;
}

#description h2 {
  font-size:1.4rem;
  color: #887f69;
  padding:10px 0;
}

#description dt {
  color: #887f69;
  font-size: 1.6rem;
  font-weight: bold;
}

#description dd {
  margin:10px 0;
  font-size:1.4rem;
}

#description td {
  text-align:left;
}

@media only screen and (max-width:769px) {
#description   th {
  	width:30%;
  }
}


.carouselBox {
  display:flex;
}

#cart {
  width:40%;
  text-align:right;
}


.carouselLeft {
  width:60%;

}


@media only screen and (max-width:769px) {
  
#price h2 {
  padding-right: 111px;
}

#quantity h2 {
  padding-right:90px;
}


.carouselBox {
  display:block;
}

#cart {
  width:100%;
  text-align:center;
  border-top: solid 1px #e8e4da;
  padding:10px;
}


.carouselLeft {
  width:100%;
}

#price, .carouselBox {
  border-bottom: none;
}

}